<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Resultado Óptimo 3D</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="container">
        <h2>Resultado Óptimo en 3D</h2>
        <p class="resultado-text">{{ resultado }}</p>
        <iframe src="{{ html_path }}" width="100%" height="600" style="border: none; border-radius: 12px; box-shadow: 0 8px 24px rgba(0,0,0,0.1);"></iframe>
       <h3>Detalles del proceso:</h3>
       <pre class="pre-3d">{{ procesos }}</pre>
        <a href="/" class="volver" aria-label="Volver al inicio">Volver</a>
    </div>
    
</body>
</html>
